<?xml version="1.0" encoding="utf-8"?>
<!-- xbJournals config.xml v0.0.2.0 27th April 2023 -->
<config>
<!-- GENERAL TAB -->				
	<fieldset name="general"
		label="XBJOURNALS_GENERAL"
		description="XBJOURNALS_GENERAL_DESC"
	>
  		<field name="savedata" type="radio"
			label="XBJOURNALS_CONFIG_DEL_UNINST_LABEL"
			description="XBJOURNALS_CONFIG_DEL_UNINST_DESC"
 			class="btn-group btn-group-yesno"
			default="0"
			>
				<option value="0" >JNO</option>
				<option value="1">JYES</option>
		</field>			
		<field name="attach_path" type="folderlist" 
			default="images/xbjournals" directory="images" 
	        label="Attached files folder" 
	        description="Default folder to save attached files. Embedded attachents will always be extracted and saved here. URL attachments may copied from the remote location to here according to the option below." 
	        recursive="true" hide_none="true" 
        />
  		<field name="copy_remote" type="radio"
			label="Save remote attachments"
			description="If 'yes' remote url attachments will be copied here and the local copy used for display. The original url will be restored back to the server on sync."
 			class="btn-group btn-group-yesno"
			default="0"
			>
				<option value="0" >JNO</option>
				<option value="1">JYES</option>
		</field>			
   		<field name="beernote" type="note"
			label="XBJOURNALS_CONFIG_BUY_A_BEER_LABEL"
			description="XBJOURNALS_CONFIG_BUY_A_BEER_DESC"
			class="info"
		/>	
        
	</fieldset>
	
<!-- BEER TAB -->
	<fieldset name="reg"
			label="XBJOURNALS_BEER_LABEL"
			description="XBJOURNALS_BEER_DESC"
	>
  		<field name="beernote" type="note"
			label="XBJOURNALS_BEER_NOTE"
			description="XBJOURNALS_BEER_LINK"
			class="info"
		/>	
		<field name="roger_beer" type="password"
			label="XBJOURNALS_BEER_FIELD" description="XBJOURNALS_BEER_FIELD_DESC"
			default=""
		/>	
		<field name="penpont" type="hidden"
			default="$2y$10$DeCwB16giLjgL7HgM1RDSeHROFs7QQef2dBQ9jEKehiTGj05jbonK" 
			/>		
	</fieldset>		

<!-- PERMISSIONS TAB -->
	<fieldset name="permissions" label="JCONFIG_PERMISSIONS_LABEL" description="JCONFIG_PERMISSIONS_DESC" >
		<field name="rules" type="rules" 
			label="JCONFIG_PERMISSIONS_LABEL" 
			component="com_xbjournals" 
			filter="rules" validate="rules" section="component" />
	</fieldset>

</config>
