<?xml version="1.0" encoding="utf-8"?>
<!-- xbJournals config.xml v0.0.2.0 27th April 2023 -->
<config>
<!-- GENERAL TAB -->				
	<fieldset name="general"
		label="XBJOURNALS_GENERAL"
		description="XBJOURNALS_GENERAL_DESC"
	>
  		<field name="savedata" type="radio"
			label="XBJOURNALS_CONFIG_DEL_UNINST_LABEL"
			description="XBJOURNALS_CONFIG_DEL_UNINST_DESC"
 			class="btn-group btn-group-yesno"
			default="0"
			>
				<option value="0" >JNO</option>
				<option value="1">JYES</option>
		</field>			
		<field name="attach_path" type="folderlist" 
			default="images/xbjournals" directory="images" 
	        label="Attached files folder" 
	        description="Default folder to save attached files. Embedded attachents will always be extracted and saved here. URL attachments may copied from the remote location to here according to the option below." 
	        recursive="true" hide_none="true" 
        />
  		<field name="copy_remote" type="radio"
			label="Save remote attachments"
			description="If 'No' then only embedded attachments will be decoded and saved locally for access. If 'Yes' then remote url attachments will be copied here and the local copy used for display. The original url will be restored back to the server on sync."
 			class="btn-group btn-group-yesno"
			default="0"
			>
				<option value="0" >JNO</option>
				<option value="1">JYES</option>
		</field>			
   		<field name="beernote" type="note"
			label="XBJOURNALS_CONFIG_BUY_A_BEER_LABEL"
			description="XBJOURNALS_CONFIG_BUY_A_BEER_DESC"
			class="info"
		/>	
        
	</fieldset>
	<fieldset name ="mapping"
		label="XBJOURNALS_PROPERTY_MAPPING"
		description="XBJOURNALS_PROPERTY_MAPPING_DESC"
		>
			<field name="mapnote1" type="note"
				label="XBJOURNALS_CATS_TAGS_MAPPING_LABEL"
				description="XBJOURNALS_CATS_TAGS_MAPPING_DESC"
			/>
			<field name="mapnote2" type="note"
				label="XBJOURNALS_JOURNAL_OPTIONS"
			/>
			<field name="jclass" type="list"
				label="XBJOURNALS_CLASS_MAP"
				description="XBJOURNALS_CLASS_MAP_DESC"
				default="0"
			>
				<option value="0">XBJOURNALS_DO_NOT_MAP</option>
				<option value="1">XBJOURNALS_CLASS_ACCESS</option>
			</field>
			<field name="jstatus" type="list"
				label="XBJOURNALS_STATUS_MAP"
				description="XBJOURNALS_STATUS_MAP_DESC"
				default="0"
			>
				<option value="0">XBJOURNALS_DO_NOT_MAP</option>
				<option value="1">XBJOURNALS_STATUS_CAT</option>
			</field>
			<field name="jcategories" type="list"
				label="XBJOURNALS_CATEGORES_MAP"
				description="XBJOURNALS_CATEGORES_MAP_DESC"
				default="0"
			>
				<option value="0">XBJOURNALS_DO_NOT_MAP</option>
				<option value="1">XBJOURNALS_CATS_TAGS</option>
			</field>
			<field name="mapnote3" type="note"
				label="XBJOURNALS_NOTEBOOK_OPTIONS"
			/>
			<field name="nclass" type="list"
				label="XBJOURNALS_CLASS_MAP"
				description="XBJOURNALS_CLASS_MAP_DESC"
				default="0"
			>
				<option value="0">XBJOURNALS_DO_NOT_MAP</option>
				<option value="1">XBJOURNALS_CLASS_ACCESS</option>
			</field>
			<field name="nstatus" type="list"
				label="XBJOURNALS_STATUS_MAP"
				description="XBJOURNALS_STATUS_MAP_DESC"
				default="0"
			>
				<option value="0">XBJOURNALS_DO_NOT_MAP</option>
				<option value="1">XBJOURNALS_STATUS_CAT</option>
			</field>
			<field name="ncategories" type="list"
				label="XBJOURNALS_CATEGORES_MAP"
				description="XBJOURNALS_CATEGORES_MAP_DESC"
				default="0"
			>
				<option value="0">XBJOURNALS_DO_NOT_MAP</option>
				<option value="1">XBJOURNALS_CATS_TAGS</option>
			</field>
		</fieldset>
<!-- BEER TAB -->
	<fieldset name="reg"
			label="XBJOURNALS_BEER_LABEL"
			description="XBJOURNALS_BEER_DESC"
	>
  		<field name="beernote" type="note"
			label="XBJOURNALS_BEER_NOTE"
			description="XBJOURNALS_BEER_LINK"
			class="info"
		/>	
		<field name="roger_beer" type="password"
			label="XBJOURNALS_BEER_FIELD" description="XBJOURNALS_BEER_FIELD_DESC"
			default=""
		/>	
		<field name="beernote2" type="note"
			label="XBJOURNALS_BEER_TALK"
			description="XBJOURNALS_BEER_FORM"
		/>
		<field name="penpont" type="hidden"
			default="$2y$10$DeCwB16giLjgL7HgM1RDSeHROFs7QQef2dBQ9jEKehiTGj05jbonK" 
			/>		
		<field name="othercreditsnote" type="note"
			label="XBJOURNALS_CREDITS_NOTE"
		/>
		<field name="simplecaldavnote" type="note"
			label="XBJOURNALS_SIMPLECALDAV"
			description="XBJOURNALS_SIMPLECALDAV_DESC"
		/>
		<field name="parsedownnote" type="note"
			label="XBJOURNALS_PARSEDOWN"
			description="XBJOURNALS_PARSEDOWN_DESC"
		/>
		<field name="otheritemsnote" type="note"
			label="XBJOURNALS_OTHER_ITEMS"
		/>
		<field name="jtxbnote" type="note"
			label="XBJOURNALS_JTXBOARD"
			description="XBJOURNALS_JTXBOARD_DESC"
		/>
		<field name="nextcloudbnote" type="note"
			label="XBJOURNALS_NEXTCLOUD"
			description="XBJOURNALS_NEXTCLOUD_DESC"
		/>
		<field name="devtoolsnote" type="note"
			label="XBJOURNALS_DEV_TOOLS"
			description="XBJOURNALS_DEV_TOOLS_DESC"
		/>
		<field name="xbcompsbnote" type="note"
			label="XBJOURNALS_OTHER_XBCOMPONENTS"
			description="XBJOURNALS_OTHER_XBCOMPONENTS_DESC"
		/>
	</fieldset>		

<!-- PERMISSIONS TAB -->
	<fieldset name="permissions" label="JCONFIG_PERMISSIONS_LABEL" description="JCONFIG_PERMISSIONS_DESC" >
		<field name="rules" type="rules" 
			label="JCONFIG_PERMISSIONS_LABEL" 
			component="com_xbjournals" 
			filter="rules" validate="rules" section="component" />
	</fieldset>

</config>
